WSDLS and XSDS for End Points/admin.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://admin.models/" name="AdminServiceImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://admin.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/admin?xsd=1"/>
</xsd:schema>
</types>
<message name="getAdmins">
<part name="parameters" element="tns:getAdmins"/>
</message>
<message name="getAdminsResponse">
<part name="parameters" element="tns:getAdminsResponse"/>
</message>
<message name="addAdmin">
<part name="parameters" element="tns:addAdmin"/>
</message>
<message name="addAdminResponse">
<part name="parameters" element="tns:addAdminResponse"/>
</message>
<message name="deleteAdmin">
<part name="parameters" element="tns:deleteAdmin"/>
</message>
<message name="deleteAdminResponse">
<part name="parameters" element="tns:deleteAdminResponse"/>
</message>
<message name="updateAdmin">
<part name="parameters" element="tns:updateAdmin"/>
</message>
<message name="updateAdminResponse">
<part name="parameters" element="tns:updateAdminResponse"/>
</message>
<message name="getAdminById">
<part name="parameters" element="tns:getAdminById"/>
</message>
<message name="getAdminByIdResponse">
<part name="parameters" element="tns:getAdminByIdResponse"/>
</message>
<portType name="AdminServiceInterface">
<operation name="getAdmins">
<input wsam:Action="http://admin.models/AdminServiceInterface/getAdminsRequest" message="tns:getAdmins"/>
<output wsam:Action="http://admin.models/AdminServiceInterface/getAdminsResponse" message="tns:getAdminsResponse"/>
</operation>
<operation name="addAdmin">
<input wsam:Action="http://admin.models/AdminServiceInterface/addAdminRequest" message="tns:addAdmin"/>
<output wsam:Action="http://admin.models/AdminServiceInterface/addAdminResponse" message="tns:addAdminResponse"/>
</operation>
<operation name="deleteAdmin">
<input wsam:Action="http://admin.models/AdminServiceInterface/deleteAdminRequest" message="tns:deleteAdmin"/>
<output wsam:Action="http://admin.models/AdminServiceInterface/deleteAdminResponse" message="tns:deleteAdminResponse"/>
</operation>
<operation name="updateAdmin">
<input wsam:Action="http://admin.models/AdminServiceInterface/updateAdminRequest" message="tns:updateAdmin"/>
<output wsam:Action="http://admin.models/AdminServiceInterface/updateAdminResponse" message="tns:updateAdminResponse"/>
</operation>
<operation name="getAdminById">
<input wsam:Action="http://admin.models/AdminServiceInterface/getAdminByIdRequest" message="tns:getAdminById"/>
<output wsam:Action="http://admin.models/AdminServiceInterface/getAdminByIdResponse" message="tns:getAdminByIdResponse"/>
</operation>
</portType>
<binding name="AdminServiceImplementionPortBinding" type="tns:AdminServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAdmins">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAdminById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AdminServiceImplementionService">
<port name="AdminServiceImplementionPort" binding="tns:AdminServiceImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/admin"/>
</port>
</service>
</definitions>