WSDLS and XSDS for End Points/category.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://category.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://category.models/" name="CategoryServiceImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://category.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/category?xsd=1"/>
</xsd:schema>
</types>
<message name="addCategory">
<part name="parameters" element="tns:addCategory"/>
</message>
<message name="addCategoryResponse">
<part name="parameters" element="tns:addCategoryResponse"/>
</message>
<message name="updateCategory">
<part name="parameters" element="tns:updateCategory"/>
</message>
<message name="updateCategoryResponse">
<part name="parameters" element="tns:updateCategoryResponse"/>
</message>
<message name="deleteCategory">
<part name="parameters" element="tns:deleteCategory"/>
</message>
<message name="deleteCategoryResponse">
<part name="parameters" element="tns:deleteCategoryResponse"/>
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"/>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"/>
</message>
<message name="getCategoryByName">
<part name="parameters" element="tns:getCategoryByName"/>
</message>
<message name="getCategoryByNameResponse">
<part name="parameters" element="tns:getCategoryByNameResponse"/>
</message>
<message name="getCategoryById">
<part name="parameters" element="tns:getCategoryById"/>
</message>
<message name="getCategoryByIdResponse">
<part name="parameters" element="tns:getCategoryByIdResponse"/>
</message>
<portType name="CategoryServiceInterface">
<operation name="addCategory">
<input wsam:Action="http://category.models/CategoryServiceInterface/addCategoryRequest" message="tns:addCategory"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/addCategoryResponse" message="tns:addCategoryResponse"/>
</operation>
<operation name="updateCategory">
<input wsam:Action="http://category.models/CategoryServiceInterface/updateCategoryRequest" message="tns:updateCategory"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/updateCategoryResponse" message="tns:updateCategoryResponse"/>
</operation>
<operation name="deleteCategory">
<input wsam:Action="http://category.models/CategoryServiceInterface/deleteCategoryRequest" message="tns:deleteCategory"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/deleteCategoryResponse" message="tns:deleteCategoryResponse"/>
</operation>
<operation name="getCategories">
<input wsam:Action="http://category.models/CategoryServiceInterface/getCategoriesRequest" message="tns:getCategories"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/getCategoriesResponse" message="tns:getCategoriesResponse"/>
</operation>
<operation name="getCategoryByName">
<input wsam:Action="http://category.models/CategoryServiceInterface/getCategoryByNameRequest" message="tns:getCategoryByName"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/getCategoryByNameResponse" message="tns:getCategoryByNameResponse"/>
</operation>
<operation name="getCategoryById">
<input wsam:Action="http://category.models/CategoryServiceInterface/getCategoryByIdRequest" message="tns:getCategoryById"/>
<output wsam:Action="http://category.models/CategoryServiceInterface/getCategoryByIdResponse" message="tns:getCategoryByIdResponse"/>
</operation>
</portType>
<binding name="CategoryServiceImplementionPortBinding" type="tns:CategoryServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategoryById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CategoryServiceImplementionService">
<port name="CategoryServiceImplementionPort" binding="tns:CategoryServiceImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/category"/>
</port>
</service>
</definitions>