WSDLS and XSDS for End Points/clerk.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://clerks.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://clerks.models/" name="ClerkServiceImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://clerks.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/clerk?xsd=1"/>
</xsd:schema>
</types>
<message name="getClerkById">
<part name="parameters" element="tns:getClerkById"/>
</message>
<message name="getClerkByIdResponse">
<part name="parameters" element="tns:getClerkByIdResponse"/>
</message>
<message name="addClerk">
<part name="parameters" element="tns:addClerk"/>
</message>
<message name="addClerkResponse">
<part name="parameters" element="tns:addClerkResponse"/>
</message>
<message name="getClerkByName">
<part name="parameters" element="tns:getClerkByName"/>
</message>
<message name="getClerkByNameResponse">
<part name="parameters" element="tns:getClerkByNameResponse"/>
</message>
<message name="getClerks">
<part name="parameters" element="tns:getClerks"/>
</message>
<message name="getClerksResponse">
<part name="parameters" element="tns:getClerksResponse"/>
</message>
<message name="updateClerk">
<part name="parameters" element="tns:updateClerk"/>
</message>
<message name="updateClerkResponse">
<part name="parameters" element="tns:updateClerkResponse"/>
</message>
<message name="deleteClerk">
<part name="parameters" element="tns:deleteClerk"/>
</message>
<message name="deleteClerkResponse">
<part name="parameters" element="tns:deleteClerkResponse"/>
</message>
<portType name="ClerkServiceInterface">
<operation name="getClerkById">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/getClerkByIdRequest" message="tns:getClerkById"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/getClerkByIdResponse" message="tns:getClerkByIdResponse"/>
</operation>
<operation name="addClerk">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/addClerkRequest" message="tns:addClerk"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/addClerkResponse" message="tns:addClerkResponse"/>
</operation>
<operation name="getClerkByName">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/getClerkByNameRequest" message="tns:getClerkByName"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/getClerkByNameResponse" message="tns:getClerkByNameResponse"/>
</operation>
<operation name="getClerks">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/getClerksRequest" message="tns:getClerks"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/getClerksResponse" message="tns:getClerksResponse"/>
</operation>
<operation name="updateClerk">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/updateClerkRequest" message="tns:updateClerk"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/updateClerkResponse" message="tns:updateClerkResponse"/>
</operation>
<operation name="deleteClerk">
<input wsam:Action="http://clerks.models/ClerkServiceInterface/deleteClerkRequest" message="tns:deleteClerk"/>
<output wsam:Action="http://clerks.models/ClerkServiceInterface/deleteClerkResponse" message="tns:deleteClerkResponse"/>
</operation>
</portType>
<binding name="ClerkServiceImplementionPortBinding" type="tns:ClerkServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getClerkById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addClerk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClerkByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getClerks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateClerk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteClerk">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClerkServiceImplementionService">
<port name="ClerkServiceImplementionPort" binding="tns:ClerkServiceImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/clerk"/>
</port>
</service>
</definitions>