WSDLS and XSDS for End Points/customer.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://customer.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://customer.models/" name="CustomerServiceImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://customer.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/customer?xsd=1"/>
</xsd:schema>
</types>
<message name="signupCustomer">
<part name="parameters" element="tns:signupCustomer"/>
</message>
<message name="signupCustomerResponse">
<part name="parameters" element="tns:signupCustomerResponse"/>
</message>
<message name="updateCustomer">
<part name="parameters" element="tns:updateCustomer"/>
</message>
<message name="updateCustomerResponse">
<part name="parameters" element="tns:updateCustomerResponse"/>
</message>
<message name="getCustomers">
<part name="parameters" element="tns:getCustomers"/>
</message>
<message name="getCustomersResponse">
<part name="parameters" element="tns:getCustomersResponse"/>
</message>
<message name="getCustomerById">
<part name="parameters" element="tns:getCustomerById"/>
</message>
<message name="getCustomerByIdResponse">
<part name="parameters" element="tns:getCustomerByIdResponse"/>
</message>
<message name="deleteCustomer">
<part name="parameters" element="tns:deleteCustomer"/>
</message>
<message name="deleteCustomerResponse">
<part name="parameters" element="tns:deleteCustomerResponse"/>
</message>
<portType name="CustomerServiceInterface">
<operation name="signupCustomer">
<input wsam:Action="http://customer.models/CustomerServiceInterface/signupCustomerRequest" message="tns:signupCustomer"/>
<output wsam:Action="http://customer.models/CustomerServiceInterface/signupCustomerResponse" message="tns:signupCustomerResponse"/>
</operation>
<operation name="updateCustomer">
<input wsam:Action="http://customer.models/CustomerServiceInterface/updateCustomerRequest" message="tns:updateCustomer"/>
<output wsam:Action="http://customer.models/CustomerServiceInterface/updateCustomerResponse" message="tns:updateCustomerResponse"/>
</operation>
<operation name="getCustomers">
<input wsam:Action="http://customer.models/CustomerServiceInterface/getCustomersRequest" message="tns:getCustomers"/>
<output wsam:Action="http://customer.models/CustomerServiceInterface/getCustomersResponse" message="tns:getCustomersResponse"/>
</operation>
<operation name="getCustomerById">
<input wsam:Action="http://customer.models/CustomerServiceInterface/getCustomerByIdRequest" message="tns:getCustomerById"/>
<output wsam:Action="http://customer.models/CustomerServiceInterface/getCustomerByIdResponse" message="tns:getCustomerByIdResponse"/>
</operation>
<operation name="deleteCustomer">
<input wsam:Action="http://customer.models/CustomerServiceInterface/deleteCustomerRequest" message="tns:deleteCustomer"/>
<output wsam:Action="http://customer.models/CustomerServiceInterface/deleteCustomerResponse" message="tns:deleteCustomerResponse"/>
</operation>
</portType>
<binding name="CustomerServiceImplementionPortBinding" type="tns:CustomerServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="signupCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CustomerServiceImplementionService">
<port name="CustomerServiceImplementionPort" binding="tns:CustomerServiceImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/customer"/>
</port>
</service>
</definitions>