WSDLS and XSDS for End Points/order.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://order.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://order.models/" name="OrdersServicImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://order.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/order?xsd=1"/>
</xsd:schema>
</types>
<message name="getOrderById">
<part name="parameters" element="tns:getOrderById"/>
</message>
<message name="getOrderByIdResponse">
<part name="parameters" element="tns:getOrderByIdResponse"/>
</message>
<message name="addOrder">
<part name="parameters" element="tns:addOrder"/>
</message>
<message name="addOrderResponse">
<part name="parameters" element="tns:addOrderResponse"/>
</message>
<message name="getOrders">
<part name="parameters" element="tns:getOrders"/>
</message>
<message name="getOrdersResponse">
<part name="parameters" element="tns:getOrdersResponse"/>
</message>
<portType name="OrderServiceInferface">
<operation name="getOrderById">
<input wsam:Action="http://order.models/OrderServiceInferface/getOrderByIdRequest" message="tns:getOrderById"/>
<output wsam:Action="http://order.models/OrderServiceInferface/getOrderByIdResponse" message="tns:getOrderByIdResponse"/>
</operation>
<operation name="addOrder">
<input wsam:Action="http://order.models/OrderServiceInferface/addOrderRequest" message="tns:addOrder"/>
<output wsam:Action="http://order.models/OrderServiceInferface/addOrderResponse" message="tns:addOrderResponse"/>
</operation>
<operation name="getOrders">
<input wsam:Action="http://order.models/OrderServiceInferface/getOrdersRequest" message="tns:getOrders"/>
<output wsam:Action="http://order.models/OrderServiceInferface/getOrdersResponse" message="tns:getOrdersResponse"/>
</operation>
</portType>
<binding name="OrdersServicImplementionPortBinding" type="tns:OrderServiceInferface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getOrderById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addOrder">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getOrders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="OrdersServicImplementionService">
<port name="OrdersServicImplementionPort" binding="tns:OrdersServicImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/order"/>
</port>
</service>
</definitions>