WSDLS and XSDS for End Points/product.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/3.0.0 (RELEASE-3.0.0-73b54f1; 2020-11-18T18:54:01+0000) JAXWS-RI/3.0.0 JAXWS-API/3.0.0 JAXB-RI/3.0.0 JAXB-API/3.0.0 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://products.models/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://products.models/" name="ProductServiceImplementionService">
<types>
<xsd:schema>
<xsd:import namespace="http://products.models/" schemaLocation="http://localhost:9595/SOAB-BANK/ws/product?xsd=1"/>
</xsd:schema>
</types>
<message name="getProductById">
<part name="parameters" element="tns:getProductById"/>
</message>
<message name="getProductByIdResponse">
<part name="parameters" element="tns:getProductByIdResponse"/>
</message>
<message name="deleteProduct">
<part name="parameters" element="tns:deleteProduct"/>
</message>
<message name="deleteProductResponse">
<part name="parameters" element="tns:deleteProductResponse"/>
</message>
<message name="getAllProducts">
<part name="parameters" element="tns:getAllProducts"/>
</message>
<message name="getAllProductsResponse">
<part name="parameters" element="tns:getAllProductsResponse"/>
</message>
<message name="createProduct">
<part name="parameters" element="tns:createProduct"/>
</message>
<message name="createProductResponse">
<part name="parameters" element="tns:createProductResponse"/>
</message>
<message name="editProduct">
<part name="parameters" element="tns:editProduct"/>
</message>
<message name="editProductResponse">
<part name="parameters" element="tns:editProductResponse"/>
</message>
<message name="getAllCategory">
<part name="parameters" element="tns:getAllCategory"/>
</message>
<message name="getAllCategoryResponse">
<part name="parameters" element="tns:getAllCategoryResponse"/>
</message>
<message name="getCategory">
<part name="parameters" element="tns:getCategory"/>
</message>
<message name="getCategoryResponse">
<part name="parameters" element="tns:getCategoryResponse"/>
</message>
<message name="getSomeProducts">
<part name="parameters" element="tns:getSomeProducts"/>
</message>
<message name="getSomeProductsResponse">
<part name="parameters" element="tns:getSomeProductsResponse"/>
</message>
<portType name="ProductServiceInterface">
<operation name="getProductById">
<input wsam:Action="http://products.models/ProductServiceInterface/getProductByIdRequest" message="tns:getProductById"/>
<output wsam:Action="http://products.models/ProductServiceInterface/getProductByIdResponse" message="tns:getProductByIdResponse"/>
</operation>
<operation name="deleteProduct">
<input wsam:Action="http://products.models/ProductServiceInterface/deleteProductRequest" message="tns:deleteProduct"/>
<output wsam:Action="http://products.models/ProductServiceInterface/deleteProductResponse" message="tns:deleteProductResponse"/>
</operation>
<operation name="getAllProducts">
<input wsam:Action="http://products.models/ProductServiceInterface/getAllProductsRequest" message="tns:getAllProducts"/>
<output wsam:Action="http://products.models/ProductServiceInterface/getAllProductsResponse" message="tns:getAllProductsResponse"/>
</operation>
<operation name="createProduct">
<input wsam:Action="http://products.models/ProductServiceInterface/createProductRequest" message="tns:createProduct"/>
<output wsam:Action="http://products.models/ProductServiceInterface/createProductResponse" message="tns:createProductResponse"/>
</operation>
<operation name="editProduct">
<input wsam:Action="http://products.models/ProductServiceInterface/editProductRequest" message="tns:editProduct"/>
<output wsam:Action="http://products.models/ProductServiceInterface/editProductResponse" message="tns:editProductResponse"/>
</operation>
<operation name="getAllCategory">
<input wsam:Action="http://products.models/ProductServiceInterface/getAllCategoryRequest" message="tns:getAllCategory"/>
<output wsam:Action="http://products.models/ProductServiceInterface/getAllCategoryResponse" message="tns:getAllCategoryResponse"/>
</operation>
<operation name="getCategory">
<input wsam:Action="http://products.models/ProductServiceInterface/getCategoryRequest" message="tns:getCategory"/>
<output wsam:Action="http://products.models/ProductServiceInterface/getCategoryResponse" message="tns:getCategoryResponse"/>
</operation>
<operation name="getSomeProducts">
<input wsam:Action="http://products.models/ProductServiceInterface/getSomeProductsRequest" message="tns:getSomeProducts"/>
<output wsam:Action="http://products.models/ProductServiceInterface/getSomeProductsResponse" message="tns:getSomeProductsResponse"/>
</operation>
</portType>
<binding name="ProductServiceImplementionPortBinding" type="tns:ProductServiceInterface">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getProductById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCategory">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getSomeProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductServiceImplementionService">
<port name="ProductServiceImplementionPort" binding="tns:ProductServiceImplementionPortBinding">
<soap:address location="http://localhost:9595/SOAB-BANK/ws/product"/>
</port>
</service>
</definitions>